@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}


.product-type {
    @apply w-full h-auto border-[1px] border-gray-200 rounded-xl;
}
.product-container {
    @apply w-1/6 m-2 p-2 shrink-0;
}
.product-text {
    @apply text-center mt-2 font-semibold;
}